.custom-dropdown {
  position: relative;
  width: 200px;
  font-size: 20px;
  height: 50px;
}

.custom-dropdown-selected {
  background-color: transparent;
  color: white;
  font-size: 25px;
  width: 250px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(83, 78, 78);
  border-radius: 15px;
  box-sizing: border-box;
  height: 50px;
  cursor: pointer;
}

.custom-dropdown-selected button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
}

.custom-dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #333;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
}

.custom-dropdown.isOpen .custom-dropdown-options {
  display: block;
}

.custom-dropdown-option {
  padding: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  border-bottom: 1px solid #444;
}

.custom-dropdown-option:last-child {
  border-bottom: none;
}

.custom-dropdown-option:hover {
  background-color: #555;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .custom-dropdown {
    width: 100%; /* Full width on mobile */
    font-size: 16px; /* Reduce font size for mobile */
    height: auto;
  }

  .custom-dropdown-selected {
    font-size: 18px; /* Smaller font for mobile */
    width: 100%; /* Full width */
    padding: 12px;
    height: auto; /* Remove fixed height */
  }

  .custom-dropdown-options {
    width: 100%; /* Dropdown matches width of selected element */
  }

  .custom-dropdown-option {
    padding: 12px;
    font-size: 16px; /* Slightly smaller font size */
  }
}

/* Tablet responsiveness */
@media (max-width: 768px) {
  .custom-dropdown {
    width: 80%; /* Adjust width for tablets */
  }

  .custom-dropdown-selected {
    font-size: 20px; /* Adjust font size for tablets */
    width: 100%; /* Full width on tablets */
  }

  .custom-dropdown-option {
    font-size: 18px; /* Adjust option font size */
  }
}
